<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net452" />
  <package id="Costura.Fody" version="4.1.0" targetFramework="net452" />
  <package id="Fody" version="6.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net452" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net452" />
  <package id="HtmlToXamlConverter" version="1.0.5727.24510" targetFramework="net452" />
  <package id="Markdown" version="2.2.1" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.18" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net452" />
</packages>